@layout PageLayout
@page "/number"
@using DSComponents.Input
@using DSComponents.Enums

<div class="row">
	<h3 class="p-0">DSC Number</h3>

	<p class="p-0">The DSCNumber component is a custom input number box. To change the  configuration settings, click the <span class="cmpt">Edit Config</span> button. The component has additional parameters that operate independently of the configurations.</p>
</div>

<ComponentExample Item="_basicNumber">
	<Header>
		<h4>@_basicNumber.Name</h4>
	</Header>

	<Example>
		<DSCNumber Config="@_basicNumber" />
	</Example>

	<Usage>
		<div class="col-12">
			<p>&lt;<span class="cmpt">DSCNumber Config</span>&#61;&#34;<span class="bind">&#64;</span>_number&#34; &#47;&gt; </p>

			<p>
				<span class="bind">&#64;code&#123;</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;<span class="cmpt">DSCConfig</span> _number = <span class="var">new</span> <span class="cmpt">DSCConfig</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&#123;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name = <span class="param">&#34;@_basicNumber.Name&#34;</span>,<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="var">new</span> <span class="cmpt">DSCLabelConfig</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="param">&#34;@_basicNumber.Label.Label&#34;</span>,<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Position = <span class="enum">Position</span>.@_basicNumber.Label.Position<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br />
				<span class="bind">&#125;</span>
			</p>
		</div>
	</Usage>
</ComponentExample>

<ComponentExample Item="_noSpinNumber">
	<Header>
		<h4>@_noSpinNumber.Name w/ no spinner</h4>
	</Header>

	<Example>
		<DSCNumber Config="@_noSpinNumber" HideSpin="true" />
	</Example>

	<Usage>
		<div class="col-12">
			<p>&lt;<span class="cmpt">DSCNumber Config</span>&#61;&#34;<span class="bind">&#64;</span>_number&#34; <span class="cmpt">HideSpin</span>&#61;&#34;<span class="bind">true</span>&#34; &#47;&gt;</p>

			<p>
				<span class="bind">&#64;code&#123;</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;<span class="cmpt">DSCConfig</span> _number = <span class="var">new</span> <span class="cmpt">DSCConfig</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&#123;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name = <span class="param">&#34;@_noSpinNumber.Name&#34;</span>,<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="var">new</span> <span class="cmpt">DSCLabelConfig</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="param">&#34;@_noSpinNumber.Label.Label&#34;</span>,<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Position = <span class="enum">Position</span>.@_noSpinNumber.Label.Position<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br />
				<span class="bind">&#125;</span>
			</p>
		</div>
	</Usage>
</ComponentExample>

<ComponentExample Item="_hiddenLabelNumber">
	<Header>
		<h4>@_hiddenLabelNumber.Name w/ hidden label</h4>
	</Header>

	<Example>
		<DSCNumber Config="@_hiddenLabelNumber" HideLabel="true" />
	</Example>

	<Usage>
		<div class="col-12">
			<p>&lt;<span class="cmpt">DSCNumber Config</span>&#61;&#34;<span class="bind">&#64;</span>_number&#34; <span class="cmpt">HideLabel</span>&#61;&#34;<span class="bind">true</span>&#34; &#47;&gt;</p>

			<p>
				<span class="bind">&#64;code&#123;</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;<span class="cmpt">DSCConfig</span> _number = <span class="var">new</span> <span class="cmpt">DSCConfig</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&#123;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name = <span class="param">&#34;@_hiddenLabelNumber.Name&#34;</span>,<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="var">new</span> <span class="cmpt">DSCLabelConfig</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="param">&#34;@_hiddenLabelNumber.Label.Label&#34;</span>,<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Position = <span class="enum">Position</span>.@_hiddenLabelNumber.Label.Position<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br />
				<span class="bind">&#125;</span>
			</p>
		</div>
	</Usage>
</ComponentExample>

<CssOverridesComponent />

@code {
	private DSCConfig _basicNumber = new DSCConfig
	{
		Name = "Number",
		Label = new DSCLabelConfig { Label = "Number", Position = Position.InlineTopLeft }
	};

	private DSCConfig _noSpinNumber = new DSCConfig
	{
		Name = "Number",
		Label = new DSCLabelConfig { Label = "Number", Position = Position.InlineTopRight }
	};

	private DSCConfig _hiddenLabelNumber = new DSCConfig
	{
		Name = "Number",
		Label = new DSCLabelConfig { Label = "Number", Position = Position.InlineTop }
	};
}