@layout PageLayout
@page "/radio"

@using DSComponents.Input
@using DSComponents.Enums
@using DevShed.Models
@using DevShed.Services

<div class="row">
	<h3 class="p-0">DSC Radio</h3>

	<p class="p-0">The DSCRadio component is a custom radio button. To change the configuration settings, click the <span class="cmpt">Edit Config</span> button. The component has additional parameters that operate independently of the configurations.</p>
</div>

<ComponentExample Item="@(_basicRadioGroup.FirstOrDefault())">
	<Header>
		<h4>@(_basicRadioGroup.FirstOrDefault().Name)</h4>
	</Header>

	<Example>
		<DSCRadioGroup GroupName="@(_basicRadioGroup.FirstOrDefault().Name)">
			@foreach(var item in _basicRadioGroup)
			{
				<DSCRadio Config="@item" Value="@(item.Label.Label)" Size="small" CheckCallback="onCheck" />
			}
		</DSCRadioGroup>
			
	</Example>

	<Usage>
		<div class="col-12">
			<p>&lt;<span class="cmpt">DSCRadioGroup GroupName</span>&#61;&#34;groupName&#34; &#47;&gt<br />
			&nbsp;&nbsp;&nbsp;&nbsp;<span class="bind"></span><span class="code">foreach</span>&#40;<span class="key">var</span> <span class="var">item</span> <span class="code">in</span> _radioGroup&#41;<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&#123; <br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="cmpt">DSCRadio Config</span>&#61;&#34;<span class="bind">&#64;</span>_radio&#34; <span class="cmpt">CheckedCallback</span>&#61;&#34;onCheck&#34; &#47;&gt; <br />
			&nbsp;&nbsp;&nbsp;&nbsp;&#125 <br />
			&lt;&#47;<span class="cmpt">DSCRadioGroup</span>&gt;</p>

			<p>
				<span class="bind">&#64;code&#123;</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;<span class="cmpt">List</span>&lt;<span class="var">DSCConfig</span>&gt; _radio = <span class="var">new</span> <span class="cmpt">List</span>&lt;<span class="var">DSCConfig</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&#123;<br />
				@foreach(var item in _basicRadioGroup)
				{
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="var">new</span> <span class="cmpt">DSCConfig</span></span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name = <span class="param">&#34;@(item.Name)&#34;</span>,</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="var">new</span> <span class="cmpt">DSCLabelConfig</span></span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="param">&#34;@(item.Label.Label)&#34;</span>,</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Position = <span class="enum">Position</span>.@(item.Label.Position)</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;</span><br />
				}
				&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br />
				<span class="bind">&#125;</span>
			</p>
		</div>
	</Usage>
</ComponentExample>

<ComponentExample Item="@(_iconRadioGroup.FirstOrDefault())">
	<Header>
		<h4>@(_iconRadioGroup.FirstOrDefault().Name)</h4>
	</Header>

	<Example>
		<DSCRadioGroup GroupName="@(_iconRadioGroup.FirstOrDefault().Name)">
			@foreach(var item in _iconRadioGroup)
			{
				<DSCRadio Config="@item" Type="CheckboxType.Icon" Value="@(item.Label.Label)" Size="small" Unchecked="bi bi-award" Checked="bi bi-award-fill" />
			}
		</DSCRadioGroup>
			
	</Example>

	<Usage>
		<div class="col-12">
			<p>&lt;<span class="cmpt">DSCRadio Config</span>&#61;&#34;<span class="bind">&#64;</span>_radio&#34; <span class="cmpt">CheckedCallback</span>&#61;&#34;onCheck&#34; &#47;&gt;</p>

			<p>
				<span class="bind">&#64;code&#123;</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;<span class="cmpt">List</span>&lt;<span class="var">DSCConfig</span>&gt; _radio = <span class="var">new</span> <span class="cmpt">List</span>&lt;<span class="var">DSCConfig</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&#123;<br />
				@foreach(var item in _iconRadioGroup)
				{
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="var">new</span> <span class="cmpt">DSCConfig</span></span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name = <span class="param">&#34;@(item.Name)&#34;</span>,</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="var">new</span> <span class="cmpt">DSCLabelConfig</span></span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="param">&#34;@(item.Label.Label)&#34;</span>,</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Position = <span class="enum">Position</span>.@(item.Label.Position)</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;</span><br />
				}
				&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br />
				<span class="bind">&#125;</span>
			</p>
		</div>
	</Usage>
</ComponentExample>

<ComponentExample Item="@(_imageRadioGroup.FirstOrDefault())">
	<Header>
		<h4>@(_imageRadioGroup.FirstOrDefault().Name)</h4>
	</Header>

	<Example>
		<DSCRadioGroup GroupName="@(_imageRadioGroup.FirstOrDefault().Name)">
			@foreach(var item in _imageRadioGroup)
			{
				<DSCRadio Config="@item" Type="CheckboxType.Image" Value="@(item.Label.Label)" Size="small" Unchecked="uncheckedimage" Checked="checkedimage" />
			}
		</DSCRadioGroup>
			
	</Example>

	<Usage>
		<div class="col-12">
			<p>&lt;<span class="cmpt">DSCRadio Config</span>&#61;&#34;<span class="bind">&#64;</span>_radio&#34; <span class="cmpt">CheckedCallback</span>&#61;&#34;onCheck&#34; &#47;&gt;</p>

			<p>
				<span class="bind">&#64;code&#123;</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;<span class="cmpt">List</span>&lt;<span class="var">DSCConfig</span>&gt; _radio = <span class="var">new</span> <span class="cmpt">List</span>&lt;<span class="var">DSCConfig</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&#123;<br />
				@foreach(var item in _imageRadioGroup)
				{
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="var">new</span> <span class="cmpt">DSCConfig</span></span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name = <span class="param">&#34;@(item.Name)&#34;</span>,</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="var">new</span> <span class="cmpt">DSCLabelConfig</span></span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="param">&#34;@(item.Label.Label)&#34;</span>,</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Position = <span class="enum">Position</span>.@(item.Label.Position)</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;</span><br />
				}
				&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br />
				<span class="bind">&#125;</span>
			</p>
		</div>
	</Usage>
</ComponentExample>

<ComponentExample Item="@(_switchRadioGroup.FirstOrDefault())">
	<Header>
		<h4>@(_switchRadioGroup.FirstOrDefault().Name)</h4>
	</Header>

	<Example>
		<DSCRadioGroup GroupName="@(_switchRadioGroup.FirstOrDefault().Name)">
			@foreach(var item in _switchRadioGroup)
			{
				<DSCRadio Config="@item" Type="CheckboxType.Switch" Size="small" Value="@(item.Label.Label)" />
			}
		</DSCRadioGroup>
			
	</Example>

	<Usage>
		<div class="col-12">
			<p>&lt;<span class="cmpt">DSCRadio Config</span>&#61;&#34;<span class="bind">&#64;</span>_radio&#34; <span class="cmpt">CheckedCallback</span>&#61;&#34;onCheck&#34; &#47;&gt;</p>

			<p>
				<span class="bind">&#64;code&#123;</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;<span class="cmpt">List</span>&lt;<span class="var">DSCConfig</span>&gt; _radio = <span class="var">new</span> <span class="cmpt">List</span>&lt;<span class="var">DSCConfig</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&#123;<br />
				@foreach(var item in _switchRadioGroup)
				{
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="var">new</span> <span class="cmpt">DSCConfig</span></span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name = <span class="param">&#34;@(item.Name)&#34;</span>,</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="var">new</span> <span class="cmpt">DSCLabelConfig</span></span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="param">&#34;@(item.Label.Label)&#34;</span>,</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Position = <span class="enum">Position</span>.@(item.Label.Position)</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;</span><br />
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;</span><br />
				}
				&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br />
				<span class="bind">&#125;</span>
			</p>
		</div>
	</Usage>
</ComponentExample>

<CssOverridesComponent />

@code {
	[CascadingParameter]
	protected IStateContainer StateContainer { get; set; }

	private List<TableRow> _apiRows;
	private string _selectedOption;

	protected override Task OnInitializedAsync()
	{
		_apiRows = StateContainer.BuildAPITable<DSCConfig>();

		return base.OnInitializedAsync();
	}

	private List<DSCConfig> _basicRadioGroup = new List<DSCConfig>
	{
		new DSCConfig
		{
			Name = "Standard Radio",
			Label = new DSCLabelConfig { Label = "Option 0", Position = Position.Left },
		},
		new DSCConfig
		{
			Name = "Standard Radio",
			Label = new DSCLabelConfig { Label = "Option 1", Position = Position.Left }
		},
		new DSCConfig
		{
			Name = "Standard Radio",
			Label = new DSCLabelConfig { Label = "Option 2", Position = Position.Left }
		}
	};

	private List<DSCConfig> _iconRadioGroup = new List<DSCConfig>
	{
		new DSCConfig
		{
			Name = "Icon Radio",
			Label = new DSCLabelConfig { Label = "Option 0", Position = Position.Right },
		},
		new DSCConfig
		{
			Name = "Icon Radio",
			Label = new DSCLabelConfig { Label = "Option 1", Position = Position.Right }
		},
		new DSCConfig
		{
			Name = "Icon Radio",
			Label = new DSCLabelConfig { Label = "Option 2", Position = Position.Right }
		}
	};

	private List<DSCConfig> _imageRadioGroup = new List<DSCConfig>
	{
		new DSCConfig
		{
			Name = "Image Radio",
			Label = new DSCLabelConfig { Label = "Option 0", Position = Position.Left },
		},
		new DSCConfig
		{
			Name = "Image Radio",
			Label = new DSCLabelConfig { Label = "Option 1", Position = Position.Left }
		},
		new DSCConfig
		{
			Name = "Image Radio",
			Label = new DSCLabelConfig { Label = "Option 2", Position = Position.Left }
		}
	};

	private List<DSCConfig> _switchRadioGroup = new List<DSCConfig>
	{
		new DSCConfig
		{
			Name = "Switch Radio",
			Label = new DSCLabelConfig { Label = "Option 0", Position = Position.Left },
		},
		new DSCConfig
		{
			Name = "Switch Radio",
			Label = new DSCLabelConfig { Label = "Option 1", Position = Position.Left }
		},
		new DSCConfig
		{
			Name = "Switch Radio",
			Label = new DSCLabelConfig { Label = "Option 2", Position = Position.Left }
		}
	};

	private void onCheck(string value)
	{
		_selectedOption = value;
	}
}
