@layout PageLayout
@page "/select"

@using DSComponents.Input
@using DSComponents.Enums
@using DevShed.Models
@using DevShed.Services

<div class="row">
	<h3 class="p-0">DSC Select</h3>

	<p class="p-0">The DSC Select component is a custom dropdown menu that displays a selectable list of items. To change the  configuration settings, click the <span class="cmpt">Edit Config</span> button. The component has additional parameters that operate independently of the configurations.</p>
</div>

<ComponentExample Item="@_basicSelect">
	<Header>
		<h4>@_basicSelect.Name</h4>
	</Header>

	<Example>
		<DSCSelect Config="@_basicSelect" @bind-Expanded="@_basicSelect.Expanded">
			@foreach(var item in _basicSelect.SelectItems)
			{
				<DSCSelectItem Value="@item"  />
			}
		</DSCSelect>
	</Example>

	<Usage>
		<div class="col-12">
			<p>&lt;<span class="cmpt">DSCSelect Config</span>&#61;&#34;<span class="bind">&#64;</span>_select&#34; <span class="bind">&#64;bind&#45;Expanded</span>&#61;&#34;<span class="bind">&#64;</span>_select.Expanded&#34;&gt; <br />
			&nbsp;&nbsp;&nbsp;&nbsp;<span class="bind">&#64;</span><span class="code">foreach</span>&#40;<span class="key">var</span> <span class="var">item</span> <span class="code">in</span> _select.SelectItems&#41; <br />
			&nbsp;&nbsp;&nbsp;&nbsp;&#123; <br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="cmpt">DSCSelectItem Value</span>&#61;&#34;<span class="bind">&#64;</span><span class="var">item</span>&#34; &#47;&gt; <br />
			&nbsp;&nbsp;&nbsp;&nbsp;&#125 <br />
			&lt;&#47;<span class="cmpt">DSCSelect</span>&gt;</p>

			<p>
				<span class="bind">&#64;code&#123;</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;<span class="cmpt">DSCConfig</span> _select = <span class="var">new</span> <span class="cmpt">DSCConfig</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&#123;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name = <span class="param">&#34;@_basicSelect.Name&#34;</span>,<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="var">new</span> <span class="cmpt">DSCLabelConfig</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="param">&#34;@_basicSelect.Label.Label&#34;</span>,<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Position = <span class="enum">Position</span>.@_basicSelect.Label.Position<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;,<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SelectItems = <span class="var">new</span> <span class="cmpt">List</span>&lt;<span class="var">object</span>&gt;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;<br />
				@foreach(var item in _basicSelect.SelectItems)
				{
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="param">&#34;@(item)&#34;</span>,</span><br />
				}
				
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br />
				<span class="bind">&#125;</span>
			</p>
		</div>
	</Usage>
</ComponentExample>

<ComponentExample Item="@_hideLabelSelect">
	<Header>
		<h4>@_hideLabelSelect.Name w/ hidden label</h4>
	</Header>

	<Example>
		<DSCSelect Config="@_hideLabelSelect" HideLabel="true" @bind-Expanded="@_hideLabelSelect.Expanded">
			@foreach(var item in _hideLabelSelect.SelectItems)
			{
				<DSCSelectItem Value="@item"  />
			}
		</DSCSelect>
	</Example>

	<Usage>
		<div class="col-6">
			<p>&lt;<span class="cmpt">DSCSelect Config</span>&#61;&#34;<span class="bind">&#64;</span>_select&#34; <span class="cmpt">HideLabel</span>&#61;&#34;<span class="bind">true</span>&#34; <span class="bind">&#64;bind&#45;Expanded</span>&#61;&#34;<span class="bind">&#64;</span>_select.Expanded&#34;&gt; <br />
			&nbsp;&nbsp;&nbsp;&nbsp;<span class="bind">&#64;</span><span class="code">foreach</span>&#40;<span class="key">var</span> <span class="var">item</span> <span class="code">in</span> _select.SelectItems&#41; <br />
			&nbsp;&nbsp;&nbsp;&nbsp;&#123; <br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="cmpt">DSCSelectItem Value</span>&#61;&#34;<span class="bind">&#64;</span><span class="var">item</span>&#34; &#47;&gt; <br />
			&nbsp;&nbsp;&nbsp;&nbsp;&#125 <br />
			&lt;&#47;<span class="cmpt">DSCSelect</span>&gt;</p>

			<p>
				<span class="bind">&#64;code&#123;</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;<span class="cmpt">DSCConfig</span> _select = <span class="var">new</span> <span class="cmpt">DSCConfig</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&#123;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name = <span class="param">&#34;@_hideLabelSelect.Name&#34;</span>,<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="var">new</span> <span class="cmpt">DSCLabelConfig</span><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label = <span class="param">&#34;@_hideLabelSelect.Label.Label&#34;</span>,<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Position = <span class="enum">Position</span>.@_hideLabelSelect.Label.Position<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;,<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SelectItems = <span class="var">new</span> <span class="cmpt">List</span>&lt;<span class="var">object</span>&gt;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;<br />
				@foreach(var item in _hideLabelSelect.SelectItems)
				{
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="param">&#34;@(item)&#34;</span>,</span><br />
				}
				
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&#125;<br />
				<span class="bind">&#125;</span>
			</p>
		</div>
	</Usage>
</ComponentExample>

<ServicesComponent />

<CssOverridesComponent />

@code {
	[CascadingParameter]
	protected IStateContainer StateContainer { get; set; }

	private IEnumerable<string> _apiHeader = new List<string> { "Parameter", "Type", "Default Value", "Description" };
	private List<TableRow> _apiRows;

	private DSCConfig _basicSelect = new DSCConfig
	{
		Name = "Standard Select",
		SelectItems = new List<object>{ "Item 1", "Item 2", "Item 3" },
		Label = new DSCLabelConfig {Label = "Select", Position = Position.Right },
		Multiple = true
	};

	private DSCConfig _hideLabelSelect = new DSCConfig
	{
		Name = "Select",
		SelectItems = new List<object>{ "Item 1", "Item 2", "Item 3" },
		Label = new DSCLabelConfig {Label = "Select", Position = Position.Left }
	};


	protected override Task OnInitializedAsync()
	{
		_apiRows = StateContainer.BuildAPITable<DSCConfig>();

		return base.OnInitializedAsync();
	}
}